@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");
@import "_variables";
@import "_mixins";

html {
  font-size: 62.5%;
  font-family: "Space Mono", monospace;
}

body {
  background-color: $background-color;
  @include displayFlex(column, flex-start, center);
  min-height: 100vh;

  @media screen and (min-width: $desktop) {
    justify-content: center;
  }
}

.logo {
  margin-top: 5rem;
  margin-bottom: 4.1rem;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: $desktop) {
    & {
      margin-bottom: 8.8rem;
    }
  }
}

%input-style {
  max-width: 31.1rem;
  color: $very-dark-cyan;
  background-color: $light-grayish-cyan;
  background-repeat: no-repeat;
  background-position-y: 50%;
  background-position-x: 5%;
  padding: 0.5rem 1.7rem;
  margin-top: 0.6rem;
  font-size: $input-size;
  text-align: right;
  border: 2px solid $light-grayish-cyan;
  border-radius: 0.5rem;

  &::placeholder {
    color: $grayish-cyan;
  }
  @media screen and (min-width: $desktop) {
    & {
      min-width: 37.5rem;
      
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.alert {
  display: inline;
  float: right;
  
  &--danger {
    color: rgb(225, 112, 82);
  }
  &--success {
    color: rgb(82, 225, 106);
  }
}

%label-style {
  font-size: $label-size;
  color: $dark-grayish-cyan;
  margin-bottom: 0.6rem;
}

.container {
  @include displayFlex(column, flex-start, center);
  background-color: $white;
  width: 100%;
  max-width: 37.5rem;
  box-shadow: 0px 3.2rem 4.3rem rgba(79, 166, 175, 0.200735);
  border-radius: 2.5rem 2.5rem 0 0;
  
  @media screen and (min-width: $desktop) {
    @include displayFlex(row, center, stretch);
    max-width: 92rem;
    border-radius: 2.5rem;
  }
  
  .input-section {
    max-width: 37.9rem;
    margin: 3.2rem;
    
    @media screen and (min-width: $desktop) {
      margin: 4.5rem;
    }
    
    &__bill {
      background-image: url(../images/icon-dollar.svg);
      @extend %input-style;

      &--label {
        @extend %label-style;
      }
    }

    &__people {
      background-image: url(../images/icon-person.svg);
      @extend %input-style;

      &--label {
        @extend %label-style;
      }
    }

    &__p {
      @extend %label-style;
      margin-top: 3.2rem;
      margin-bottom: 1.6rem;
    }

    &__tip {
      display: flex;
      flex-wrap: wrap;
      gap: 1.6rem;
      margin-bottom: 3.2rem;

      &--btn {
        width: 47%;
        padding: 0.6rem 1.3rem;
        color: $white;
        font-size: $input-size;
        background-color: $very-dark-cyan;
        border: none;
        border-radius: 0.5rem;
      }

      &--input {
        width: 47%;
        padding: 0.6rem 1.3rem;
        border-radius: 0.5rem;
        background-color: $light-grayish-cyan;
        color: $very-dark-cyan;
        font-size: $input-size;
        text-align: right;

        &::placeholder {
          font-size: $input-size;
          color: $grayish-cyan;
        }

        &--label {
          display: none;
        }
      }

      @media screen and (min-width: $desktop) {
        & {
          &--btn {
            width: 30%;
            transition: all 0.3s ease;

            &:hover {
              cursor: pointer;
              color: $very-dark-cyan;
              background-color: $button-hover;
            }
          }

          &--input {
            width: 30%;

            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }
  }

  .result-section {
    margin-top: 3.2rem;
    margin-bottom: 3.2rem;
    width: 32.7rem;
    padding: 3.7rem 2.4rem 2.4rem;
    background-color: $very-dark-cyan;
    border-radius: 1.5rem;

    @media screen and (min-width: $desktop) {
      width: 41.3rem;
      padding: 4rem;
      margin-right: 3.2rem;
    }

    &__tip-amount,
    &__total {
      @include displayFlex(row, space-between, center);
      color: $white;
      font-size: $label-size;
      margin-bottom: 2rem;

      &--span {
        color: #7f9d9f;
        font-size: $span-size;
      }

      &--price {
        color: $strong-cyan;
        font-size: 3.2rem;
      }
    }

    &__reset {
      width: 100%;
      padding: 0.9rem 3.2rem;
      color: $very-dark-cyan;
      background-color: #0d686d;
      border: none;
      border-radius: 0.5rem;
      font-size: $reset-size;

      @media screen and (min-width: $desktop) {
        margin-top: 13.4rem;
        transition: 0.3s ease;
        cursor: pointer;
      }
    }
  }
}
